anyio
certifi
click
dnspython
email-validator
fastapi==0.95.0
greenlet
h11
httpcore==0.17.0
httptools
httpx
idna
itsdangerous
Jinja2
python-jose==3.3.0
MarkupSafe
orjson==3.8.9
passlib
psycopg
psycopg2-binary
pydantic==1.10.7
python-dotenv
python-multipart==0.0.6
PyYAML
rfc3986
six
sniffio
SQLAlchemy==2.0.8
starlette
typing_extensions
ujson
uvicorn==0.21.1
uvloop
watchfiles==0.19.0
websockets==11.0
alembic==1.10.2
cloudinary~=1.32.0