anyio
certifi
click
dnspython
email-validator
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
python-jose
MarkupSafe
orjson
passlib
psycopg
psycopg2-binary
pydantic
python-dotenv
python-multipart
PyYAML
rfc3986
six
sniffio
SQLAlchemy
starlette
typing_extensions
ujson
uvicorn
uvloop
watchfiles==0.18.1
websockets==10.4
alembic~=1.9.4
cloudinary~=1.32.0
